
body {
  overflow: hidden;
}

label {
  font-style: italic;
  transition: transform 0.3s ease-out;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: left top;
}

.upload > label {
  pointer-events: all;
  cursor: pointer;
}

input:focus + label,
input:valid + label {
  transform: translateY(-10px);
}

.button:hover {
  background-color: #383e27;
}
